{% extends 'new_base.html' %}

{% load web_filters %}

{% block scripts %}
    <script>
        function toggle(index){
            var mainDataIndex = 'mainData'+index;
            var mainData = document.getElementById(mainDataIndex);
            var dataIndex = 'detailData'+index;
            var data = document.getElementById(dataIndex);
            var iconRightIndex = 'iconRight'+index;
            {#var summaryIndex = 'summary_Q_content'+index;#}
            {#var summary_Q_content = document.getElementById(summaryIndex);#}
            {#var fullIndex = 'full_Q_content'+index;#}
            {#var full_Q_content = document.getElementById(fullIndex);#}
            var iconRight = document.getElementById(iconRightIndex);
            var iconDownIndex = 'iconDown'+index;
            var iconDown = document.getElementById(iconDownIndex);

            if (data.style.display === "none"){
                data.style.display = "table-row";
                iconRight.style.display = "none";
                iconDown.style.display = "block";
                {#summary_Q_content.style.display = 'none';#}
                {#full_Q_content.style.display = 'block';#}
            } else {
                data.style.display = "none";
                iconRight.style.display = "block";
                iconDown.style.display = "none";
                {#summary_Q_content.style.display = 'block';#}
                {#full_Q_content.style.display = 'none';#}
            }
        }
    </script>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'testee_score_list' %}">Score List</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Test paper Content</li>
{% endblock %}

{% block content %}
    <main class="testee-score-list">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Serial.</th>
                                    <th scope="col">Content.</th>
                                    <th scope="col" class="text-center">
                                        <button type="button" class="btn" data-toggle="modal" data-target="#promptContent">
                                            <i class="fa fa-question-circle"></i>
                                        </button>
                                    </th>
                                    <div class="modal fade" id="promptContent" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title" id="ModalLongTitle">Tips</h5>
                                                </div>

                                                <div class="modal-body" style="font-size: 20px">
                                                    <ul>
                                                        <li>
                                                            <p style="color: red">
                                                                Red color means your selected the wrong answer on the exam.
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p style="color: green">
                                                                Green color means the sentence is correct but you miss it.
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p>
                                                                If your answer is correct, then it will display only one color in all choices.
                                                            </p>
                                                        </li>
                                                    </ul>


                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            </thead>

                            <tbody>
                                {% for answer in answersheet.answer_set.all %}
                                    <tr id="mainData{{ forloop.counter }}" onclick="toggle('{{ forloop.counter }}')" style="cursor: pointer;">
                                        <td>{{ forloop.counter }}</td>
                                        <td class="text-left">
                                            {% if answer.question.q_file %}
                                                <audio controls preload="none">
                                                    <source src="{{ answer.question.q_file }}" type="audio/mpeg">
                                                    Your browser does not support the audio tag.
                                                </audio>
                                            {% else %}
                                                <div id="summary_Q_content{{ forloop.counter }}">
                                                    {{ answer.question.q_content|summary:125 }}
                                                </div>
                                                <div id="full_Q_content{{ forloop.counter }}" style="display: none">
                                                    {{ answer.question.q_content|linebreaksbr }}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% for option in answer.question.choice_set.all %}
                                                {% if answer.selected == forloop.counter and option.is_answer %}
                                                    <i class="fa fa-check" style="color: green; font-size: 20px"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>

                                    <tr id="detailData{{ forloop.counter }}" style="display: none;">
                                        <td></td>
                                        <td colspan="2" style="text-align: left;">
                                            <ol type="A">
                                                {% for option in answer.question.choice_set.all %}
                                                    {% if answer.selected == forloop.counter and option.is_answer %}
                                                        <span style="color: green"><li>{{ option }}</li></span>
                                                    {% elif answer.selected == forloop.counter %}
                                                        <span style="color: red"><li>{{ option }}</li></span>
                                                    {% elif option.is_answer %}
                                                        <span style="color: green"><li>{{ option }}</li></span>
                                                    {% else %}
                                                        <li>{{ option }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ol>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="text-center">
                            <button type="button" class="btn btn-primary" onclick="self.location=document.referrer;">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <style>
        .testee-score-list table > thead > tr > th,
        .testee-score-list table > tbody > tr > td{
            text-align: center;
            vertical-align: middle;
        }
    </style>
{% endblock %}