{% extends 'base.html' %}

{% load web_filters %}

{% block path %}
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="">受測者</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="{% url 'testee_score_list' %}">成績紀錄</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">檢閱試卷內容</a>
{% endblock %}

{% block content %}
    <div>
        <table border="1">
            <tr>
                <th>題序</th>
                <th>題目</th>
                <th>選項</th>
            </tr>
            {% for answer in answersheet.answer_set.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>

                    {% if answer.question.q_type|question_kind == 'listening' %}
                        <td>
                            {% if answer.selected == -1 %}
                                <span style="color: red">此題未作答</span>
                            {% endif %}
                            <audio controls preload="none">
                                <source src="{{ answer.question.q_file }}" type="audio/mpeg">
                                Your browser does not support the audio tag.
                            </audio>
                        </td>
                    {% elif answer.question.q_type|question_kind == 'reading' %}
                        <td>
                            {% if answer.selected == -1 %}
                                <span style="color: red">此題未作答</span>
                            {% endif %}
                            {{ answer.question }}
                        </td>
                    {% else %}
                        <td>Unknown</td>
                    {% endif %}
                    <td>
                    {% for option in answer.question.choice_set.all %}
                        {% if answer.selected == forloop.counter and option.is_answer %}
                            <span style="color: green"><li>{{ option }}</li></span>
                        {% elif answer.selected == forloop.counter %}
                            <span style="color: red"><li>{{ option }}</li></span>
                        {% elif option.is_answer %}
                            <span style="color: green"><li>{{ option }}</li></span>
                        {% else %}
                            <li>{{ option }}</li>
                        {% endif %}
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}