{% extends 'base.html' %}

{% block scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>   <!--for chart-->

    <script type="application/javascript">
        function openChart(kind) {
            var i;
            var x = document.getElementsByClassName("table-responsive");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(kind).style.display = "block";
        }
    </script>
{% endblock %}

{% block path %}
    <a href="">受測者</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="">成績紀錄</a>
{% endblock %}

{% block content %}
    <div class="display-data-btn">
        <button type="button" onclick="openChart('data-list')"><i class="fas fa-list-ul" style="font-size: 20px"></i></button>
        <button type="button" onclick="openChart('bar-chart')"><i class="fa fa-bar-chart" style="font-size: 20px"></i></button>
        <button type="button" onclick="openChart('pie-chart')"><i class="fa fa-pie-chart" style="font-size: 20px"></i></button>

        <style>
            .display-data-btn{
                position: absolute;
                right: 0%
            }
            .display-data-btn button{
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;

                background-color: #4CCABD;
                opacity: 0.8;
            }
        </style>
    </div>

    <div id='data-list' class="table-responsive">
        <table class="table table-hover">
            <caption style="font-size: 30px;">&nbsp;&nbsp;成績紀錄（共{{ answer_sheets.count }}條結果）</caption>
            <thead class="title">
                <tr>
                    <th class="col-md-2">測驗名稱</th>
                    <th class="col-md-1">測驗成績</th>
                    <th class="col-md-1">測驗時間</th>
                </tr>
            </thead>
            <tbody>
                {% for answersheet in answer_sheets %}
                    <tr style="cursor: pointer" onclick="window.location.href='{% url 'view_answersheet_content' answersheet.id %}'">
                        <td style="text-align: center; vertical-align:middle;">{{ answersheet.exam }}</td>
                        {% if answersheet.score  < 60 %}
                            <td style="vertical-align:middle; color: #c12e2a">{{ answersheet.score }}</td>
                        {% else %}
                            <td style="vertical-align:middle;">{{ answersheet.score }}</td>
                        {% endif %}
                        <td style="vertical-align:middle;">{{ answersheet.finish_time|date:'Y年m月d日, H時m分' }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

        <style>
            .table-responsive .table{
                text-align: center;
            }

            .table-hover > tbody > tr:hover > td,
            .table-hover > tbody > tr:hover > th {
                background-color: #4CCABD;
            }

            .title{
                font-size: 20px;
            }

            .title tr th{
                text-align: center;
            }

            .table tbody{
                font-size: 18px;
            }

            .table tbody td a{
                color: #2C3232;
            }
        </style>
    </div>

    <div id='bar-chart' class="table-responsive" style="display: none">
        <div class="title"><h1>Bar Chart.</h1></div>
        <div id="bar-chart-container" style="width: 80%; height: 80%"></div>

        <script>
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Times', {role: 'style'}, { role: 'annotation' }],
                    ['0~10', {{ one }}, "color: rgb(255, 0, 0)", '{{ one }}'],
                    ['10~20', {{ two }}, "color: rgb(255, 64, 0)", '{{ two }}'],
                    ['20~30', {{ three }}, "color: rgb(255, 128, 0)", '{{ three }}'],
                    ['30~40', {{ four }}, "color: rgb(255, 191, 0)", '{{ four }}'],
                    ['40~50', {{ five }}, "color: rgb(0, 255, 0)", '{{ five }}'],
                    ['50~60', {{ six }}, "color: rgb(0, 255, 64)", '{{ six }}'],
                    ['60~70', {{ seven }}, "color: rgb(0, 255, 128)", '{{ seven }}'],
                    ['70~80', {{ eight }}, "color: rgb(0, 128, 255)", '{{ eight }}'],
                    ['80~90', {{ nine }}, "color: rgb(0, 64, 255)", '{{ nine }}'],
                    ['90~100', {{ ten }}, "color: rgb(128, 0, 255)", '{{ ten }}'],
                ]);

                var options = {
                    title: 'My Score Bar Chart',
                    width: 900,
                    height: 450
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('bar-chart-container'));
                chart.draw(data, options);
            }
        </script>

        <style>
            .title h1{
                width: 30%;
                font-size: 28px;
                color: #FFFEF6;
                background-color: #4CCABD;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 15px;
                padding-left: 45px;
                text-align: center;
            }
        </style>
    </div>

    <div id='pie-chart' class="table-responsive" style="display: none">
        <div class="title"><h1>Pie Chart.</h1></div>
        <div id="pie-chart-container" style="width: 80%; height: 80%"></div>

        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Times'],
                    ['及格', {{ qualified }}],
                    ['不及格', {{ unqualified }}],
                ]);

                var options = {
                    title: 'Qualified Rate',
                    width: 900,
                    height: 450,
                    is3D: true,
                };

                var chart = new google.visualization.PieChart(document.getElementById('pie-chart-container'));

                chart.draw(data, options);
            }
        </script>

        <style>
            .title h1{
                width: 30%;
                font-size: 28px;
                color: #FFFEF6;
                background-color: #4CCABD;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 15px;
                padding-left: 45px;
                text-align: center;
            }
        </style>
    </div>

    <!-- 頁碼的部分 -->
    <div class="pagination">
        <div class="pager_group1">
            <ul class="pager">
                <li class="previous" style="color: #2C3232"><a href="?page=1{% if query_content %}&{{ query_content }}{% endif %}">&laquo; first</a></li>
                <li style="padding-left: 500px; padding-right: 490px">&nbsp;</li>
                <li class="next"><a href="?page={{ sheets.paginator.num_pages }}{% if query_content %}&{{ query_content }}{% endif %}">last &raquo;</a></li>
            </ul>
        </div>

        <div class="pager_group2">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li {% if not sheets.has_previous %}class="page-item disabled"{% endif %}>
                        {% if sheets.has_previous %}
                            <a class="page-link" href="?page={{ sheets.previous_page_number }}{% if query_content %}&{{ query_content }}{% endif %}" tabindex="-1">Previous</a>
                        {% else %}
                            <a href="javascript:void(0)">Previous</a>
                        {% endif %}
                    </li>

                    <li class="page-item">
                        {% for page in paginator.page_range %}
                            {% if page == sheets.number %}
                                <a class="page-link" href="?page={{ page }}{% if query_content %}&{{ query_content }}{% endif %}">{{ page }}</a>
                            {% else %}
                                <a href="?page={{ page }}{% if query_content %}&{{ query_content }}{% endif %}">{{ page }}</a>
                            {% endif %}
                        {% endfor %}
                    </li>

                    <li {% if not sheets.has_next %}class="page-item disabled"{% endif %}>
                        {% if sheets.has_next %}
                            <a class="page-link" href="?page={{ sheets.next_page_number }}{% if query_content %}&{{ query_content }}{% endif %}">Next</a>
                        {% else %}
                            <a href="javascript:void(0)">Next</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>

        </div>

        <style>
            .pagination{
                font-size: 20px;
            }

            .pager_group1{
                text-decoration: none;
                position: fixed;
                bottom: 13%;
                left: 10%;
                right: 10%;
            }

            .pager_group2{
                position: fixed;
                bottom: 12%;
                right: 50%;

                transform: translate(50%,50%);
            }
        </style>
    </div>
    <style>
        .info{
            overflow-x: scroll;
        }
    </style>
{% endblock %}
