{% extends 'new_base.html' %}

{% load web_filters %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'profile' %}">個人資料</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'report_list' %}">問題回報</a></li>
    <li class="breadcrumb-item active" aria-current="page">回報單號#{{ viewed_report.id }}</li>
{% endblock %}

{% block content %}
    <main class="reply">
        <div class="original-report-card">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-header">{{ viewed_report.category }}#{{ viewed_report.id }}</div>

                            <div class="card-body">
                                <h5>補充說明</h5>
                                <div class="dropdown-divider"></div>
                                <p>{{ viewed_report.supplement_note }}</p>
                            </div>

                            <div class="card-footer">
                                <footer class="blockquote-footer">
                                    <cite title="Source Title">{{ viewed_report.created_by }} in {{ viewed_report.created_time }}<br></cite>
                                    {% if viewed_report.state == 2 %}
                                        <label class="btn btn-danger float-right">處理中</label>
                                    {% elif viewed_report.state == 3 %}
                                        <cite title="Source Title">Resolved by {{ viewed_report.resolved_by }} in {{ viewed_report.resolved_time }}</cite>
                                        <label class="btn btn-success float-right">已解決</label>
                                    {% endif %}
                                </footer>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="card" style="height: 700px">
                            <div class="card-header">回覆</div>

                            <div id="reply-content" class="card-body">
                                <div class="reply-content" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                                    {% if replies %}
                                        {% for reply in replies %}
                                            {% if reply.created_by == viewed_report.created_by %}
                                                <div class="text-right">：{{ reply.created_by }}<br>{{ reply.content }}<footer class="blockquote-footer"><cite title="Source Title">{{ reply.created_time|date:"H:i, Y/m/d" }}</cite></footer></div>
                                            {% else %}
                                                <div>{{ reply.created_by }}：<br>{{ reply.content }}<footer class="blockquote-footer"><cite title="Source Title">{{ reply.created_time|date:"H:i, Y/m/d" }}</cite></footer></div>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        尚無留言
                                    {% endif %}
                                </div>
                            </div>

                            <div class="card-footer">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <textarea class="form-control" name="reply" rows="4" placeholder="Reply..." {% if viewed_report.state == 3 %}disabled{% endif %}></textarea>

                                    <button type="button" class="btn btn-secondary float-right" onclick="self.location=document.referrer;">取消</button>
                                    <button type="submit" class="btn btn-primary float-right" {% if viewed_report.state == 3 %}disabled{% endif %}>送出</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <style>
                        #reply-content{
                            overflow-x: scroll;
                        }
                    </style>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
