{% extends 'base_long_page.html' %}

{% load web_filters %}

{% block path %}
    <a href="">{% if request.user|has_perm:'TBManager' %}題庫管理員{% else %}題目操作員{% endif %}</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="">題目列表</a>
{% endblock %}

{% block content%}
    <!--搜尋-->
    <div class="search_bar">
        <form id="searchForm" action="" method="get">
            <ul style="display: inline">
                <li><input type="text" name="question_content" {% if keywords.question_content %}value="{{ keywords.question_content }}"{% else %}value=""{% endif %} placeholder="Search..."></li>
                <li>
                    <select name="question_type">
                        <option value="" selected>所有試題類型</option>
                        {% for q_type in question_types %}
                            <option value="{{ q_type.value.0 }}" {% if q_type.value.0 == keywords.question_type %} selected {% endif %}>{{ q_type.value.1 }}</option>
                        {% endfor %}
                    </select>
                </li>

                <li>
                    {% if request.user|has_perm:'TBManager' %}
                    <select name="difficulty">
                        <option value="" selected>所有試題難度</option>
                        {% for difficulty in difficulty_choices %}
                            <option value="{{ difficulty.0 }}" {% if difficulty.0 == keywords.difficulty %} selected {% endif %}>{{ difficulty.1 }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                </li>

                <li>
                    <select name="state">
                        <option value="" selected>所有試題狀態</option>
                        {% for state in state_choices %}
                            <option value="{{ state.0 }}" {% if state.0 == keywords.state %} selected {% endif %}>{{ state.1 }}</option>
                        {% endfor %}
                    </select>
                </li>

                <li>
                    <button type="submit">搜尋</button>
                </li>
            </ul>

            <style>
                .search_bar{
                    position: absolute;
                    left: 42%;
                    top: 1%;

                    display: inline;
                }
                .search_bar ul li{
                    display: inline;
                    list-style: none;
                }
                .search_bar input[type=text] {
                    box-sizing: border-box;
                    border: 2px solid rgb(200, 200, 200);
                    border-radius: 4px;
                    font-size: 16px;
                    background-size: 23%;
                    background-color: white;
                    background-position: 10px 10px;
                    background-repeat: no-repeat;
                    padding: 12px 20px 12px 20px;
                    outline: none;
                }

                .search_bar select{
                    outline: none;
                }

                .search_bar button{
                    width: 60px;

                    background-color: rgba(255,255,255,0.92);
                    font-size: 18px;

                    padding-left: 0px;
                    padding-right: 0px;
                }
            </style>
        </form>
    </div>

    <!-- 表格的部分 -->
    <div class="table-responsive">
        <table class="table table-hover">
            <caption style="font-size: 30px">&nbsp;&nbsp;題目列表（共 {{ resultNum }} 條結果）</caption>
            <thead class="title">
                <tr>
                    {% if request.user|has_perm:'TBManager' %}
                        <th class="col-md-1">ＩＤ</th>
                        <th class="col-md-5">題目</th>
                        <th class="col-md-2">類型</th>
                        <th class="col-md-2">題目選項</th>
                        <th class="col-md-1">狀態</th>
                        <th class="col-md-1"></th>

                    {% elif request.user|has_perm:'TBOperator' %}
                        <th class="col-md-1">ＩＤ</th>
                        <th class="col-md-4">題目</th>
                        <th class="col-md-2">類型</th>
                        <th class="col-md-2">題目選項</th>
                        <th class="col-md-1">狀態</th>
                        <th class="col-md-1"></th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
            {% if questions %}
                {% for question in questionList %}
                    <tr>
                        <td style="vertical-align: middle">{{ question.id }}</td>
                        <td style="text-align: left; vertical-align: middle">
                            {% if question.q_file %}
                                <audio controls preload="none">
                                    <source src="{{ question.q_file }}" type="audio/mpeg">
                                    Your browser does not support the audio tag.
                                </audio>
                            {% else %}
                                {{ question.q_content }}
                            {% endif %}
                        </td>
                        <td style="text-align: center; vertical-align: middle">{{ question.q_type|readable_question_type }}</td>
                        <td style="text-align: left; vertical-align: middle">
                            {% for option in question.choice_set.all %}
                                {% if option.is_answer %}
                                    <span style="color: red"><li>{{ option }}</li></span>
                                {% else %}
                                    <li>{{ option }}</li>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td style="text-align: center; vertical-align: middle; font-size: 15px">{{ question.state|readable_state }}</td>
                        <td class="functions-btn" style="vertical-align: middle">
                            {% if question.state == 0 %}
                                <button id="submit" type="button" onclick="window.location.href='{% url 'question_submit' question.id %}'">提交</button>
                            {% endif %}

                            {% if request.user|has_perm:'TBOperator' and question.state != 1 %}
                                <button id="edit" type="button" onclick="window.location.href='{% url 'operator_edit' question.id %}'">編輯</button>
                                <button id="delete" type="button" onclick="window.location.href='{% url 'question_delete' question.id %}'">刪除</button>

                            {% elif request.user|has_perm:'TBManager' and question.state != 1 %}
                                <button id="edit" type="button" onclick="window.location.href='{% url 'question_edit' question.id %}'">編輯</button>
                            {% endif %}
                        </td>
                        <td style="vertical-align: middle">
                            <button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown" style="background-color: #4CCABD;
                            border-color: #FFFEF6;">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" style="width: 300px">
                                  <div class="detail_block">
                                      <ul style="text-align: left; font-size: 16px">
                                          <li>更新時間：{{ question.update_time|date:'Y年m月d日, H時i分' }}</li>
                                          <li>錯誤回報次數：{{ question.issued_freq }}</li>
                                          <li>使用次數：{{ question.used_freq }}</li>
                                          <li>難度：{{ question.difficulty }}</li>
                                          <li>建立者：{{ question.created_by.name }}</li>
                                      </ul>
                                  </div>
                            </div>
                        </td>
                        <style>
                            .detail_block li{
                                list-style: none;
                                padding-left: 10px;
                            }

                            .functions-btn button{
                                width: 70px;

                                font-size: 16px;
                                text-align: center;

                                padding: 4px;
                                margin: 2px;
                            }
                            .functions-btn #submit{
                                background-color: aquamarine;
                            }
                            .functions-btn #delete{
                                background-color: orangered;
                            }
                            .functions-btn button:hover{
                                cursor: pointer;
                            }
                        </style>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="6"><h4>找不到符合的條件「{{ query_content|readable_question_query_content }}」的題目。</h4></td></tr>
            {% endif %}
            </tbody>
        </table>

        <style>
            .table-responsive .table{
                text-align: center;
            }

            .table-hover > tbody > tr:hover > td,
            .table-hover > tbody > tr:hover > th {
                background-color: #4CCABD;
            }

            .title{
                font-size: 20px;
            }

            .title tr th{
                text-align: center;
            }

            .table tbody{
                font-size: 18px;
            }

            .table tbody td a{
                color: #2C3232;
            }
        </style>
    </div>

    <!-- 頁碼的部分 -->
    <div class="pagination">
        <div class="pager_group1">
            <ul class="pager">
                <li class="previous" style="color: #2C3232"><a href="?page=1&{% if query_content %}{{ query_content }}{% endif %}">&laquo; first</a></li>
                <li style="padding-left: 500px; padding-right: 490px">&nbsp;</li>
                <li class="next"><a href="?page={{ questionList.paginator.num_pages }}&{% if query_content %}{{ query_content }}{% endif %}">last &raquo;</a></li>
            </ul>
        </div>

        <div class="pager_group2">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li {% if not questionList.has_previous %}class="page-item disabled"{% endif %}>
                        {% if questionList.has_previous %}
                            <a class="page-link" href="?page={{ questionList.previous_page_number }}&{% if query_content %}{{ query_content }}{% endif %}" tabindex="-1">Previous</a>
                        {% else %}
                            <a href="javascript:void(0)">Previous</a>
                        {% endif %}
                    </li>

                    <li class="page-item">
                        {% for page in paginator.page_range %}
                            {% if page == sheets.number %}
                                <a class="page-link" href="?page={{ page }}&{% if query_content %}{{ query_content }}{% endif %}">{{ page }}</a>
                            {% else %}
                                <a href="?page={{ page }}&{% if query_content %}{{ query_content }}{% endif %}">{{ page }}</a>
                            {% endif %}
                        {% endfor %}
                    </li>

                    <li {% if not questionList.has_next %}class="page-item disabled"{% endif %}>
                        {% if questionList.has_next %}
                            <a class="page-link" href="?page={{ questionList.next_page_number }}&{% if query_content %}{{ query_content }}{% endif %}">Next</a>
                        {% else %}
                            <a href="javascript:void(0)">Next</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>

        <style>
            .pagination{
                font-size: 20px;
            }
            .pager_group1{
                text-decoration: none;
                position: fixed;
                bottom: 13%;
                left: 10%;
                right: 10%;
            }

            .pager_group2{
                position: fixed;
                bottom: 12%;
                right: 50%;

                transform: translate(50%,50%);
            }
        </style>
    </div>
{% endblock %}