{% extends 'base.html' %}

{% block path %}
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="">考試管理員</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="{% url 'exam_list' %}">考試列表</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">新增考試</a>
{% endblock %}

<!-- for datetime picker, but not yet? -->
{#{% block scripts %}#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" defer></script>#}
{#<script src="/static/scripts/datetimepicker.min.js?{{ request.static_file_version }}" defer></script>#}
{#<script src="/static/scripts/exam.js?{{ request.static_file_version }}" defer></script>#}
{#<script>#}
{#    $(function() {#}
{#        $('#start_time').datetimepicker({#}
{#            format: 'Y-m-d H:i',#}
{#            minDate: 0,#}
{#        });#}
{#    });#}
{#</script>#}
{#{% endblock %}#}

{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            <label>測驗名稱</label>
            <input type="text" name="exam_name">

            <label>測驗開始時間</label>
            <input type="text" id="start_time" name="start_time" required>
{#            <input type="datetime-local" name="start_time" required>#}

            <label>測驗時間</label>
            <input type="number" name="duration" value="40" required>

            <input type="submit" value="送出">
        </form>
    </div>
{% endblock %}