{% extends 'base.html' %}

{% block path %}
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="">考試管理員</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">考試列表</a>
{% endblock %}

{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            <label>測驗名稱</label>
            <input type="text" name="exam_name" required>

            <label>測驗開始時間</label>
            <input type="text" name="start_time" placeholder="YYYY-MM-DD HH:mm:ss">

            <label>測驗時間</label>
            <input type="number" name="duration" value="40">

            <input type="submit" value="送出">
        </form>
    </div>
{% endblock %}