{% extends 'base.html' %}

{% load web_filters %}

{% block scripts %}
    <script>
        function selectRow(row){
            var firstInput = row.getElementsByTagName('input')[0];
            firstInput.checked = !firstInput.checked;
        }
    </script>
{% endblock %}

{% block path %}
    <a href="">考試管理員</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="{% url 'testpaper_list' %}">考卷列表</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="{% url 'testpaper_edit' testpaper.id %}">編輯考卷</a> /
    <a href="">人工選題</a>
{% endblock %}

{% block content %}
    <div>
        <form action="{% url 'manual_pick' testpaper.id question_type.value.0 %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th></th>
                    <th>編號</th>
                    <th>題目</th>
                    <th>選項</th>
                    <th>難度</th>
                </tr>
                {% for question in all_questions %}
                    <tr class="data-row" onclick="selectRow(this)">
                        <td><input type="checkbox" name="question" value="{{ question.id }}" {% if question in selected_questions %}checked{% endif %}></td>

                        <td>{{ question.id }}</td>

                        <td>
                            {% if question.q_file %}
                                <audio controls preload="none">
                                    <source src="{{ question.q_file }}" type="audio/mpeg">
                                    Your browser does not support the audio tag.
                                </audio>
                            {% else %}
                                {{ question.q_content }}
                            {% endif %}
                        </td>

                        <td>
                            <ol type="A">
                                {% for option in question.choice_set.all %}
                                    <li>{{ option }}</li>
                                {% endfor %}
                            </ol>
                        </td>
                        <td>{{ question.difficulty|readable_question_difficulty }}</td>
                    </tr>
                {% endfor %}
            </table>

            <div class="btn">
                <button type="submit">確認</button>
            </div>
        </form>
    </div>

    <style>
        .info{
            overflow-x: scroll;
        }
    </style>
{% endblock %}