{% extends 'base.html' %}

{% load web_filters %}

{% block scripts %}
    <script type="text/javascript">
        passName = true;

    </script>
{% endblock %}

{% block path %}
    <a href="">考試管理員</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="{% url 'testpaper_list' %}">考卷列表</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">編輯考卷</a>
{% endblock %}

{% block content %}
    <div class="testpaper">
        <div class="title"><h1>Testpaper Edit.</h1></div>

        <form action="{% url 'testpaper_edit' testpaper.id %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td style="font-size: 24px; text-align: right">考卷名稱</td>
                    <td colspan="4">
                        <input type="text" name="testpaper_name" value="{{ testpaper.name }}">
                    </td>
                </tr>

                {% for question_type, question_type_count, selected_question_type_num in testpaper_data %}
                    <td>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title">{{ question_type.value.1 }}</h4>
                                <p class="card-context">共 {{ question_type_count }} 題，已選擇 {{ selected_question_type_num }} 題</p>

                                <a class="card-link" href="{% url 'manual_pick' testpaper.id question_type.value.0 %}" class="card-link" >手動選擇</a>
                                {% if selected_question_type_num == question_type_count %}
                                    <label>自動選擇</label>
                                {% else %}
                                    <a class="card-link" href="{% url 'auto_pick' testpaper.id question_type.value.0 %}" class="card-link" >自動選擇</a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                {% endfor %}
            </table>

            <div class="btn">
                <button type="submit">確認</button>
            </div>
        </form>
    </div>
    <style>
        .testpaper .title h1{
            width: 30%;
            font-size: 28px;
            color: #FFFEF6;
            background-color: #4CCABD;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 15px;
            padding-left: 45px;
            text-align: center;
        }

        .testpaper table{
            position: relative;
            left: 10%;

            font-size: 16px;

            width: 80%;

            text-align: center;
        }
        .testpaper table input{
            width: 80%;
            font-size: 20px;

            margin: 10px;
            padding: 6px;
        }

        .btn{
            position: relative;
            left: 45%;
        }
    </style>
{% endblock %}