{% extends 'new_base.html' %}

{% load web_filters %}

{% block scripts %}
    <script>
        function toggle(index){
            var mainDataIndex = 'mainData'+index;
            var mainData = document.getElementById(mainDataIndex);
            var dataIndex = 'detailData'+index;
            var data = document.getElementById(dataIndex);
            var iconRightIndex = 'iconRight'+index;
            var iconRight = document.getElementById(iconRightIndex);
            var iconDownIndex = 'iconDown'+index;
            var iconDown = document.getElementById(iconDownIndex);

            if (data.style.display === "none"){
                mainData.style.fontWeight = 900;
                mainData.style.fontSize = "19px";
                mainData.style.backgroundColor = "rgb(220, 220, 220, 0.5)";
                data.style.display = "table-row";
                iconRight.style.display = "none";
                iconDown.style.display = "block";
            } else {
                mainData.style.fontWeight = "normal";
                mainData.style.fontSize = "18px";
                mainData.style.backgroundColor = "rgb(220, 220, 220, 0)";
                data.style.display = "none";
                iconRight.style.display = "block";
                iconDown.style.display = "none";
            }
        }

        function toggle_visibility(type){
            var all_types = new Array('QA','ShortConversation', 'Grammar', 'Phrase', 'ParagraphUnderstanding');

            if (type === 'all'){
                for (var i = 0; i < all_types.length; i++){
                var tmp = document.getElementsByClassName(all_types[i]);
                for (var j = 0; j < tmp.length; j++){
                    tmp[j].style.display = 'table-row';
                }
            }
            } else{
                var show_type = document.getElementsByClassName(type);

                for (var i = 0; i < all_types.length; i++){
                    var tmp = document.getElementsByClassName(all_types[i]);
                    for (var j = 0; j < tmp.length; j++){
                        tmp[j].style.display = 'none';
                    }
                }

                for (var i = 0; i < show_type.length; i++){
                    show_type[i].style.display = 'table-row';
                }
            }
        }
    </script>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'testpaper_list' %}">TestPaper</a></li>
    <li class="breadcrumb-item active" aria-current="page">TestPaper Content</li>
{% endblock %}

{% block content %}
{#    <div class="question_type_btn">#}
{#        <ul>#}
{#            <li><a href="#" onclick="toggle_visibility('all')">全部</a></li>#}
{#            <li><a href="#QA" onclick="toggle_visibility('QA')">聽力/問答</a></li>#}
{#            <li><a href="#ShortConversation" onclick="toggle_visibility('ShortConversation')">聽力/簡短對話</a></li>#}
{#            <li><a href="#Grammar" onclick="toggle_visibility('Grammar')">閱讀/文法</a></li>#}
{#            <li><a href="#Phrase" onclick="toggle_visibility('Phrase')">閱讀/名詞片語</a></li>#}
{#            <li><a href="#ParagraphUnderstanding" onclick="toggle_visibility('ParagraphUnderstanding')">閱讀/段落理解</a></li>#}
{#        </ul>#}
{#    </div>#}

{#    <div class="table-responsive">#}
{#        <table class="table table-hover">#}
{#            <thead class="title">#}
{#                <tr>#}
{#                    <th class="col-md-1"></th>#}
{#                    <th class="col-md-1">題號</th>#}
{#                    <th class="col-md-8">題目</th>#}
{#                    <th class="col-md-2">類型</th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for question in questions %}#}
{#                <tr id="mainData{{ forloop.counter }}" class="{{ question.q_type|question_type_transfer_to_original_data }}" onclick="toggle('{{ forloop.counter }}')">#}
{#                    <td>#}
{#                        <i id="iconRight{{ forloop.counter }}" class="fa fa-angle-right"></i>#}
{#                        <i id="iconDown{{ forloop.counter }}" class="fa fa-angle-down" style="display: none"></i>#}
{#                    </td>#}
{##}
{#                    <td style="vertical-align: middle">{{ forloop.counter }}</td>#}
{##}
{#                    {% if question.q_type|question_kind == 'listening' %}#}
{#                        <td style="text-align: center;">#}
{#                            <audio controls preload="none">#}
{#                                <source src="{{ question.q_file }}" type="audio/mpeg">#}
{#                                Your browser does not support the audio tag.#}
{#                            </audio>#}
{#                        </td>#}
{##}
{#                    {% elif question.q_type|question_kind == 'reading' %}#}
{#                        <td style="text-align: left;">#}
{#                            {{ question.q_content }}#}
{#                        </td>#}
{##}
{#                    {% else %}#}
{#                        <td style="text-align: center;">#}
{#                            Unknown#}
{#                        </td>#}
{##}
{#                    {% endif %}#}
{##}
{#                    <td style="text-align: center; vertical-align: middle">{{ question.q_type|readable_question_type }}</td>#}
{#                </tr>#}
{##}
{#                <tr id="detailData{{ forloop.counter }}" style="display: none;">#}
{#                    <td colspan="4" style="text-align: left; vertical-align: middle; padding-left: 145px;">#}
{#                        <ol type="A">#}
{#                            {% for choice in question.choice_set.all %}#}
{#                                <li {% if choice.is_answer %}style="color: red"{% endif %}>{{ choice }}</li>#}
{#                            {% endfor %}#}
{#                        </ol>#}
{#                    </td>#}
{#                </tr>#}
{#            </tbody>#}
{#            {% endfor %}#}
{#        </table>#}
{#    </div>#}

    <main class="testpaper-content">
        <div id="sidebar">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-2 bg-secondary">
                    <nav>
                        <ul class="nav nav-stacked">
                            <li><a href="#" onclick="toggle_visibility('all')">全部</a></li>
                            <li><a href="#QA" onclick="toggle_visibility('QA')">聽力/問答</a></li>
                            <li><a href="#ShortConversation" onclick="toggle_visibility('ShortConversation')">聽力/簡短對話</a></li>
                            <li><a href="#Grammar" onclick="toggle_visibility('Grammar')">閱讀/文法</a></li>
                            <li><a href="#Phrase" onclick="toggle_visibility('Phrase')">閱讀/名詞片語</a></li>
                            <li><a href="#ParagraphUnderstanding" onclick="toggle_visibility('ParagraphUnderstanding')">閱讀/段落理解</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-10 bg-light">
{#                    {% block content %}#}
{#                    {% endblock %}#}
                </div>
            </div>
        </div>
    </div>
    <style>
        #sidebar .container .row{
            height: 76vh;
        }
        #sidebar nav > ul{
            display: inline;
            font-size: 20px;
            padding: 2px;
        }
        #sidebar nav > ul > li{
            padding: 10px;
        }
        #sidebar nav > ul > li > a{
            text-decoration: none;
            color: white;
        }
        #sidebar nav > ul > li > a:hover{
            background-color: rgb(108, 117, 125);
            opacity: 0.1;
        }
        .add button{
            border-radius: 24px;
        }
        .add button:hover{
            box-shadow: 2px 4px 10px 0px rgb(44, 50, 50);
        }
    </style>
    </main>
{% endblock %}