{% extends 'base.html' %}

{% block path %}
    <a href="">考試管理員</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="{% url 'testpaper_list' %}">考卷列表</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">新增考卷</a>
{% endblock %}

{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            <label>考卷名稱</label>
            <input type="text" name="testpaper_name" required>

            <input type="submit" value="送出">
        </form>
    </div>
{% endblock %}