{% extends 'new_base.html' %}

{% block scripts %}
    <script>
        function searchFunction() {
            let input, filter, a, i, tr, td;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            tr = document.getElementById("group_members");
            td = tr.getElementsByTagName("td");
            for (i = 0; i < td.length; i++) {
                a = td[i];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    td[i].style.display = "";
                }
                else {
                    td[i].style.display = "none";
                }
            }
        }
    </script>
{% endblock %}

{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'testee_group_list' %}">Testee Group List</a></li>
    <li class="breadcrumb-item active" aria-current="page">Testee Group Member List</li>
{% endblock %}

{% block content %}
    <main class="testee-group-member-list">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <h2>Testee Group Member List.</h2>

                    <div class="search_bar">
                        <input class="form-control" type="text" id="search" onkeyup="searchFunction()" placeholder="Search...">
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center">Account./StudentID.</th>
                                    <th>Name.</th>
                                    <th>Department.</th>
                                    <th>Squadron.</th>
                                    <th>Grade.</th>
                                </tr>
                            </thead>

                            <tbody id="group-members">
                                {% if group_members %}
                                    {% for member in group_members %}
                                        <tr>
                                            {% if member.student %}
                                                <td class="text-center">{{ member.student.stu_id }}</td>
                                                <td>{{ member.name }}</td>
                                                <td>{{ member.student.department }}</td>
                                                <td>{{ member.student.squadron }}</td>
                                                <td>{{ member.student.grade }}</td>
                                            {% else %}
                                                <td class="text-center">{{ member.reg_id }}</td>
                                                <td>{{ member.name }}</td>
                                                <td class="text-center" colspan="3">None</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="" class="text-center">No Data.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center">
                        <button type="button" class="btn btn-primary" onclick="self.location=document.referrer;">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}