{% load staticfiles %}
{% load web_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>線上英文考試系統</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/SystemCSS.css' %}">

    {% block stylesheets %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <a href="/">ALCPT線上練習平台</a>

        <div class="registration_block">
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.name }}({{ user.reg_id }}) / <a title="即將登出" href="{% url 'logout' %}">Logout</a> </p>
            {% else %}
                <p><a title="我要登入" href="{% url 'login' %}">Login</a></p>
            {% endif %}
        </div>
    </div>

    <div class="path_bar">
        <a href="{% url 'Homepage' %}">主頁</a>
        {% block path %}
        {% endblock %}
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}
{#                <script language="javascript">alert("{{ message }}")</script>#}
                {{ message }}
            {% elif message.tags == "success" %}
{#                <script language="javascript">alert("{{ message }}")</script>#}
                {{ message }}
            {% elif message.tags == "warning" %}
{#                <script language="javascript">alert("{{ message }}")</script>#}
                {{ message }}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="permission_toolbar">
        <ul>
            {% if request.user|has_perm:'SystemManager' %}
                <li>
                    <a href="">系統管理員</a>
                    <ul>
                        <li><a href="{% url 'user_list' %}" >使用者列表</a></li>
                        <li><a href="{% url 'unit_list' %}">單位列表</a></li>
                    </ul>
                </li>
            {% endif %}

            {% if request.user|has_perm:'TestManager' %}
                <li>
                    <a href="">考試管理員</a>
                    <ul>
                        <li><a href="{% url 'exam_list' %}">考試列表</a></li>
                        <li><a href="{% url 'testpaper_list' %}">考卷列表</a></li>
                        <li><a href="{% url 'testee_group_list' %}">受測者群組</a></li>
                    </ul>
                </li>
            {% endif %}

            {% if request.user|has_perm:'TBManager' %}
                <li>
                    <a href="">題庫管理員</a>
                    <ul>
                        <li><a href="{% url 'tbmanager_question_list' %}">題目列表</a></li>
                        <li><a href="">審核試題</a></li>
                    </ul>
                </li>
            {% endif %}

            {% if request.user|has_perm:'TBOperator' %}
                <li>
                    <a href="">題目操作員</a>
                    <ul>
                        <li><a href="{% url 'tboperator_question_list' %}">題目列表</a></li>
                    </ul>
                </li>
            {% endif %}

            {% if request.user|has_perm:'Testee' %}
                <li>
                    <a href="">受測者</a>
                    <ul>
                        <li><a href="{% url 'testee_exam_score' %}">檢閱成績</a></li>
                        <li><a href="{% url 'testee_practice_selected' 'listening' %}">聽力練習</a></li>
                        <li><a href="{% url 'testee_practice_selected' 'reading' %}">閱讀練習</a></li>
{#                        <li><a href="/tester/practice/integration">綜合練習</a></li>#}
{#                        <li><a href="/tester/simulation-exam">模擬鑑測</a></li>#}
                    </ul>
                </li>
            {% endif %}

        </ul>
    </div>

    {% block content %}

    {% endblock %}
</body>

{% include "footer.html" %}

</html>