{% extends 'base.html' %}

{% block path %}

{% endblock %}

{% block content %}
    <div>
        <form action="{% url 'email_verification' %}" method="post">
            {% csrf_token %}
            <label for="email_verification">Email驗證碼</label><br>
            <input type="text" name="verification_code" placeholder="請輸入驗證碼..." required>

            <input type="text" name="random_code" value="{{ random_code }}">

            <input type="text" name="forget_change_pwd" value="{{ flag }}">

            <input type="submit" onclick="return confirm('是否送出？')" value="送出">
        </form>
    </div>
{% endblock %}