{% extends 'base.html' %}

{% block path %}

{% endblock %}

{% block content %}
    <div class="email_verification">
        <form action="{% url 'email_verification' %}" method="post">
            <div class="title"><h1>Email Verification.</h1></div>
            {% csrf_token %}
            <table>
                <tr>
                    <td>Email驗證碼</td>
                    <td><input class="form-control" type="text" name="verification_code" placeholder="請輸入驗證碼..." required></td>
                </tr>
            </table>

            <input type="hidden" name="random_code" value="{{ random_code }}">

            <input type="hidden" name="forget_change_pwd" value="{{ flag }}">

            <input type="hidden" name="reg_id" value="{{ reg_id }}">

            <div class="btn">
                <button type="submit">送出</button>
            </div>

            <style>
                .email_verification .title h1{
                    width: 30%;
                    font-size: 28px;
                    color: #FFFEF6;
                    background-color: #4CCABD;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-right: 15px;
                    padding-left: 45px;
                    text-align: center;
                }

                .email_verification table{
                    position: relative;
                    left: 30%;

                    width: 40%;

                    font-size: 20px;
                }
                .email_verification table td{
                    padding: 4px;
                }
                .email_verification form input{
                    width: 100%;
                    padding: 6px;
                }

                .email_verification .btn{
                    position: relative;
                    top: 30px;
                    left: 45%;
                }
                .email_verification .btn button{
                    font-size: 25px;
                    padding: 10px;
                    padding-left: 15px;
                    padding-right: 15px;
                    color: #FFFEF6;
                    background-color: #4CCABD;
                    border: none;
                }
            </style>
        </form>
    </div>
{% endblock %}