{% extends 'new_base.html' %}

{% load web_filters %}

{% block path %}
    <li class="breadcrumb-item active" aria-current="page">編輯公告</li>
{% endblock %}

{% block content %}
    <main class="proclamation-edit-form">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Proclamation Edit.</div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}

                                <div class="form-group row">
                                    <label for="p_title" class="col-md-4 col-form-label text-md-right">公告標題</label>
                                    <div class="col-md-6">
                                        <input type="text" id="p_title" class="form-control" name="p_title" value="{{ proclamation.title }}" placeholder="Proclamation Title..." required autofocus>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="p_text" class="col-md-4 col-form-label text-md-right">公告內容</label>
                                    <div class="col-md-6">
                                        <textarea class="form-control" name="p_text" cols="100" rows="8" placeholder="Proclamation Content..." required>{{ proclamation.text }}</textarea>
                                    </div>
                                </div>

                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary" onclick="return confirm('確認更改？')">
                                        確認更改
                                    </button>
                                    <button type="button" class="btn btn-secondary" onclick="history.back()">
                                        取消
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}