{% extends 'new_base.html' %}

{% load web_filters %}

{% block path %}
    <li class="breadcrumb-item active" aria-current="page">公告詳細資訊</li>
{% endblock %}

{% block content %}
    <main class="proclamation_detail">
        <div class="card">
            <h5 class="card-header">Proclamation Detail.</h5>

            <div class="card-body">
            <h5 class="card-title">{{ proclamation.title }}</h5>
            <p class="card-text">{{ proclamation.text }}</p>
            <footer class="blockquote-footer">{{ proclamation.created_by }} in <cite title="Source Title">{{ proclamation.created_time }}</cite></footer>
            <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'Homepage' %}'">確認</button>
            </div>
        </div>
    </main>
{% endblock %}