{% extends 'new_base.html' %}

{% load web_filters %}

{% block path %}
    <li class="breadcrumb-item active" aria-current="page">Exam Score List</li>
{% endblock %}

{% block content %}
    <main class="exam-score-list">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h2>Exam Score List.</h2>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th class="">Name.</th>
                                    <th class="">Average.</th>
                                    <th class=""><i class="fa fa-users"></i></th>
                                    <th class="">Start.</th>
                                    <th class="">Finish.</th>
                                    <th class="">Duration.</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for exam in exams %}
                                    <tr>
                                        <td>{{ exam.name }}</td>
                                        <td>{{ exam.average_score }}</td>
                                        <td>{{ exam.testee_list.set.all.count }}</td>
                                        <td>{{ exam.start_time|date:"H:i, Y/m/d" }}</td>
                                        <td>{{ exam.finish_time|date:"H:i, Y/m/d" }}</td>
                                        <td>{{ exam.duration }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center">No Data.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
