{% extends 'base.html' %}

{% load web_filters %}

{% block path %}
    <a href="">系統管理員</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="{% url 'report_category_list' %}">回報類別列表</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">新增回報類別</a>
{% endblock %}

{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            <label for="category_name">Category Name</label>
            <input type="text" name="category_name" required>

            <br>

            {% for privilege in privileges.values %}
                <input type="checkbox" id="{{ privilege.value.0 }}" name="privilege_{{ forloop.counter0 }}" {% if privilege == privileges.SystemManager %} checked {% endif %}>
                <label for="{{ privilege.value.0 }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ privilege.value.1 }}</label>
            {% endfor %}

            <input type="submit" onclick="return confirm('確認建立此類別')" value="新增類別">
        </form>
    </div>
{% endblock %}