{% extends 'base.html' %}

{% load web_filters %}

{% block path %}
    <a href="">系統管理員</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="{% url 'user_list' %}">使用者列表</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">新增使用者（單一）</a>
{% endblock %}

{% block content %}
    <div class="create_user">
        <form method="post">
            {% csrf_token %}
                <div class="reg_user">
                    <label for="reg_id">Reg ID：</label>
                    <input type="text" name="reg_id" placeholder="Register ID number..." required>
                    <label for="identity">Identity：</label>
                    <select id="identity" name="identity" required>
                        <option value="" disabled selected>請選擇身份</option>
                        {% for identity in identities %}
                            <option value="{{ identity.value.0 }}">{{ identity.value.1 }}</option>
                        {% endfor %}
                    </select>

                    <div class="privilege">
                    {% for privilege in privileges.values %}
                        <input type="checkbox" id="{{ privilege.value.0 }}" name="privilege_{{ forloop.counter0 }}" {% if privilege == privileges.Testee %} checked {% endif %}>
                        <label for="{{ privilege.value.0 }}">{{ privilege.value.1 }}&nbsp;&nbsp;&nbsp;</label>
                    {% endfor %}
                    </div>
                </div>

                <div class="divider">
                    <label style="font-size: 18px">若非學生，請勿填寫以下資訊</label>
                </div>

                <div class="reg_student">
                    <label for="stu_id">Stu ID：</label>
                    <input type="text" name="stu_id" placeholder="Student ID number..."><br>

                    <label for="department">科系：</label>
                    <select name="department">
                        <option value="" disabled selected>請選擇科系</option>
                        {% for department in departments %}
                            <option value="{{ department.id }}">{{ department }}</option>
                        {% endfor %}
                    </select>

                    <label for="squadron">中隊：</label>
                    <select name="squadron">
                        <option value="" disabled selected>請選擇中隊單位</option>
                        {% for squadron in squadrons %}
                            <option value="{{ squadron.id }}">{{ squadron }}</option>
                        {% endfor %}
                    </select>

                    <br>

                    <label for="grade">年班：</label>
                    <input type="number" name="grade">
                </div>


            <div class="btn btn1">
                <button type="submit" onclick="return confirm('確認建立此使用者')">新增使用者</button>
            </div>

            <div class="btn btn2">
                <button type="reset">取消</button>
            </div>

            <div class="btn btn3">
                <button type="button" onclick="self.location=document.referrer;">返回</button>
            </div>
        </form>

        <style>
            .create_user form{
                width: 90%;
                padding-top: 1%;
                padding-left: 10%;
                font-size: 24px;
            }

            .create_user form input{
                padding: 5px;
            }

            .create_user form .privilege{
                padding-top: 3%;
                font-size: 22px;
            }

            .divider{
                position: relative;
                top: 50px;

                border: 0;
                height: 1px;
                background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
            }
            .divider label{
                position: relative;
                left: 39%;
                top: -1em;

                font-size: 18px;
                color: red;
                background-color: #FFFEF6;
                opacity: 0.9;
            }

            .create_user form .reg_student{
                position: relative;
                top: 100px;
            }

            .create_user form .btn button{
                font-size: 25px;
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
                color: #FFFEF6;
                background-color: #4CCABD;
                border: none;
            }

            .create_user form .btn1 button{
                position: absolute;
                top: 85%;
                left: 30%;
            }

            .create_user form .btn2 button{
                background-color: #5e5e5e;
                position: absolute;
                top: 85%;
                left: 45%;
            }

            .create_user form .btn3 button{
                position: absolute;
                top: 85%;
                left: 53%;
            }
        </style>
    </div>

    <div class="mulit">
        <a href="{% url 'user_multiCreate' %}">一次新增多個使用者？</a>

        <style>
            .mulit a{
                position: absolute;
                top: 87%;
                left: 75%;
                color: #4CCABD;
                font-size: 25px;
                text-decoration: none;
            }
        </style>
    </div>
{% endblock %}