{% extends 'new_base.html' %}

{% load web_filters %}

{% block scripts %}
    <script type="text/javascript">
        var passRegId = false;
        var passIdentity = false;
        var passPrivilege = true;
        var passStuID = false;

        function unique_ID(reg_ids , input) {
            var arr = reg_ids;
            var invalid_id = document.getElementById('invalid_id');

            for(var i = 0; i < arr.length; i++) {
                if (input.value === arr[i]) {
                    invalid_id.innerHTML = "<span style='color: red; font-size: 14px'>此ID已存在</span>";
                    invalid_id.style.display = 'block';
                    passRegId = false;
                    break;
                }
                else if (input.value === ""){
                    invalid_id.innerHTML = "<span style='color: red; font-size: 14px'>必填</span>";
                    invalid_id.style.display = 'block';
                    passRegId = false;
                }
                else {
                    invalid_id.innerHTML = '';
                    invalid_id.style.display = 'none';
                    passRegId = true;
                }
            }
            data_valid();
        }

        function unique_stuID(stu_ids , input) {
            var arr = stu_ids;
            var invalid_stu_id = document.getElementById('invalid_stu_id');

            for(var i = 0; i < arr.length; i++) {
                if (input.value === arr[i]) {
                    invalid_stu_id.innerHTML = "<span style='color: red; font-size: 14px'>此ID已存在</span>";
                    invalid_stu_id.style.display = 'block';
                    passStuID = false;
                    break;
                } else if (input.value === ""){
                    invalid_stu_id.innerHTML = "<span style='color: red; font-size: 14px'>必填</span>";
                    invalid_stu_id.style.display = 'block';
                    passStuID = false;
                } else {
                    invalid_stu_id.innerHTML = '';
                    invalid_stu_id.style.display = 'none';
                    passStuID = true;
                }
            }
            data_valid();
        }

        // Checkout whether privilege is empty.
        function privilege_not_empty() {
            var privilegeInvalid = document.getElementById('privilege_invalid');
            var system = document.getElementById('32');
            var testM = document.getElementById('16');
            var tbM = document.getElementById('8');
            var tbO = document.getElementById('4');
            var viewer = document.getElementById('2');
            var testee = document.getElementById('1');

            if (system.checked === false && testM.checked === false && tbM.checked === false &&
                tbO.checked === false && viewer.checked === false && testee.checked === false) {
                privilegeInvalid.innerHTML = "<span style='color: red; font-size: 14px'>最少選一個選項</span>";
                privilegeInvalid.style.display = 'block';
                passPrivilege = false;
            } else {
                privilegeInvalid.innerHTML = '';
                privilegeInvalid.style.display = 'none';
                passPrivilege = true;
            }
            data_valid();
        }

        function is_student() {
            var stuID = document.getElementById('stu_id');
            var department = document.getElementById('department');
            var squadron = document.getElementById('squadron');
            var grade = document.getElementById('grade');
            var identity = document.getElementById('identity');

            if (identity.value === '2') {
                stuID.disabled = false;
                department.disabled = false;
                squadron.disabled = false;
                grade.disabled = false;

                passIdentity = true;
            }
            else {
                {#if (identity.value === ''){#}
                {#    passIdentity = false;#}
                {#} else{#}
                {#    passIdentity = true;}#}
                {##}
                {#stuID.value = '';#}
                {#department.value = '';#}
                {#squadron.value = '';#}
                {#grade.value = '';#}
                {##}
                {#document.getElementById('invalid_stu_id').innerHTML = '';#}

                stuID.disabled = true;
                stuID.value = '';
                department.disabled = true;
                department.value = '';
                squadron.disabled = true;
                squadron.value = '';
                grade.disabled = true;
                grade.value = '';
                document.getElementById('invalid_stu_id').innerHTML = '';
                document.getElementById('invalid_stu_id').style.display = 'none';
            }
            data_valid();
        }

        function data_valid() {
            var submit = document.getElementById('submit');
            var identity = document.getElementById('identity');

            if(identity.value === '2'){
                if (passRegId===true && passIdentity===true && passPrivilege===true && passStuID===true){
                    submit.disabled = false;
                } else {
                    submit.disabled = true;
                }
            }
            else if(identity.value === '1' || identity.value === '3'){
                if (passRegId===true && passIdentity===true && passPrivilege===true){
                    submit.disabled = false;
                } else{
                    submit.disabled = true;
                }
            }
            else{
                submit.disabled = true;
            }
        }
    </script>
{% endblock %}


{% block path %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'user_list' %}">使用者列表</a></li>
    <li class="breadcrumb-item active" aria-current="page">新增使用者（單一）</li>
{% endblock %}

{% block content %}
    <main class="create-user">
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">


                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Create User.</div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="reg_id" class="col-md-4 col-form-label text-md-right">Reg ID</label>
                                    <div class="col-md-6">
                                        <input class="form-control" type="text" id="reg_id" name="reg_id" placeholder="Register ID..." onkeyup="unique_ID({{ reg_ids }}, this)" required>
                                        <label class="unique_id" id="invalid_id" style="display: none"></label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">身份</label>
                                    <div class="col-md-6">
                                        <select class="custom-select custom-select-sm" id="identity" name="identity" onchange="is_student()" required>
                                            <option value="" disabled selected>請選擇身份</option>
                                            {% for identity in identities %}
                                                <option value="{{ identity.value.0 }}">{{ identity.value.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="verification" class="col-md-4 col-form-label text-md-right">權限</label>
                                    <div class="col-md-6">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="button-group">
                                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-gears"></i>
                                                    </button>
                                                        <ul class="dropdown-menu">
                                                            <li class="dropdown-header">設置權限</li>
                                                            {% for privilege in privileges %}
                                                                <li><input type="checkbox" id="{{ privilege.value.0 }}" name="{{ privilege }}" onclick="privilege_not_empty()" {% if privilege == privilege.Testee %} checked {% endif %}>{{ privilege.value.1 }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="privilege_invalid" id="privilege_invalid" style="display: none"></label>
                                    </div>
                                </div>

                                <div class="dropdown-divider"></div>

                                <div class="float-right align-bottom">
                                    <a href="{% url 'user_multiCreate' %}">一次新增多個使用者？</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Create Student.</div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="reg_id" class="col-md-4 col-form-label text-md-right">Student ID</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" id="stu_id" name="stu_id" placeholder="Student ID..." onkeyup="unique_stuID({{ stu_ids }}, this)" disabled required>
                                    <label class="unique_stu_id" id="invalid_stu_id" style="display: none"></label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">科系</label>
                                <div class="col-md-6">
                                    <select class="custom-select custom-select-sm" name="department" id="department" disabled>
                                        <option value="" disabled selected>請選擇科系</option>
                                        {% for department in departments %}
                                            <option value="{{ department.id }}">{{ department }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="verification" class="col-md-4 col-form-label text-md-right">中隊</label>
                                <div class="col-md-6">
                                    <select class="custom-select custom-select-sm" name="squadron" id="squadron" disabled>
                                        <option value="" disabled selected>請選擇中隊單位</option>
                                        {% for squadron in squadrons %}
                                            <option value="{{ squadron.id }}">{{ squadron }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="reg_id" class="col-md-4 col-form-label text-md-right">Grade.</label>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" name="grade" id="grade" placeholder="Grade..." disabled required>
                                </div>
                            </div>

                            <div class="dropdown-divider"></div>

                            <div class="col-md-12 offset-md-4 text-center">
                                <button type="submit" id="submit" class="btn btn-primary">提交</button>
                                <button type="reset" class="btn btn-light">重設</button>
                                <button type="button" class="btn btn-secondary" onclick="history.back()">取消</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
    </main>
{% endblock %}