{% extends 'base.html' %}

{% block scripts %}
    <script type="text/javascript">
        function UniqueName(departments, squadrons, mode, input_unit){
            var arr = squadrons;
            var valid_element = document.getElementById("valid");
            var invalid_element = document.getElementById("invalid");
            var submit_element = document.getElementById("submit");

            if(mode === 'department'){
                arr = departments
            }

            for(var i = 0; i < arr.length; i++) {
                if (input_unit.value === ''){
                    valid_element.innerHTML = '&nbsp;';
                    invalid_element.innerHTML = '&nbsp;';
                    submit_element.disabled = true;
                    submit_element.style.backgroundColor = 'grey';
                }
                else if (input_unit.value === arr[i]) {
                    valid_element.innerHTML = '';
                    invalid_element.innerHTML = '此名稱已存在';
                    submit_element.disabled = true;
                    submit_element.style.backgroundColor = 'grey';
                    break;
                }
                else {
                    valid_element.innerHTML = '此名稱可使用。';
                    invalid_element.innerHTML = '';
                    submit_element.disabled = false;
                    submit_element.style.backgroundColor = '#4CCABD';
                }
            }
        }

        document.getElementById('unit_name').disabled = true;

        function Selected() {
            var unitName = document.getElementById("unit_name");
            var unit = document.getElementById("unit");

            if (unit.value === 'department' || unit.value === 'squadron') {
                unitName.disabled = false;
            } else {
                unitName.disabled =  true;
            }
        }
    </script>
{% endblock %}

{% block path %}
    <a href="">系統管理員</a>
    <a class="fa fa-angle-double-right fa-lg box"></a>
    <a href="{% url 'unit_list' %}">單位列表</a>
    <a class="fa fa-angle-right fa-lg box"></a>
    <a href="">新增單位</a>
{% endblock %}

{% block content %}
    <div class="create_unit">
        <div class="title"><h1>Unit Create.</h1></div>
        <form action="{% url 'unit_create' %}" method="post" autocomplete="off">
            {% csrf_token %}

            <table>
                <tr>
                    <td class="col-md-2" style="text-align: center">單位</td>
                    <td class="col-md-5">
                        <select id='unit' name='unit' onchange="Selected();" required>
                            <option value='' selected disabled hidden>選擇要新增單位</option>
                            <option value='department'> 科系 </option>
                            <option value='squadron'> 中隊 </option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-2" style="text-align: center">單位名稱</td>
                    <td class="col-md-5"><input type="text" id="unit_name" name="unit_name" onkeyup="UniqueName({{ department_names }}, {{ squadron_names }}, document.getElementById('unit').value, this)" placeholder="輸入要新增的單位名稱" required></td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align: center">
                        <span id="invalid" class="result">&nbsp;</span>
                        <span id="valid" class="result">&nbsp;</span>
                    </td>
                </tr>
            </table>

            <div class="btn">
                <button type="submit" id="submit" disabled>新增</button>
                <button type="button" onclick="self.location=document.referrer;">取消</button>&nbsp;
            </div>
        </form>

        <style>
            .create_unit .title h1{
                width: 30%;
                font-size: 28px;
                color: #FFFEF6;
                background-color: #4CCABD;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 15px;
                padding-left: 45px;
                text-align: center;
            }

            .create_unit table{
                position: relative;
                left: 20%;

                width: 60%;

                font-size: 20px;
            }
            .create_unit table td{
                padding: 4px;
            }
            .create_unit form input{
                width: 80%;
                padding: 6px;
            }
            .create_unit form textarea{
                font-size: 20px;
                width: 100%;
                height: 45%;
                padding: 10px;
            }

            .create_unit .btn{
                position: relative;
                top: 30px;
                left: 40%;
            }
            .create_unit .btn #submit{
                background-color: grey;
            }

            .create_unit table span{
                font-size: 16px;
            }
            #valid{
                color: green;
            }
            #invalid{
                color: red;
            }
        </style>
    </div>
{% endblock %}